html,
body {
  margin: 0px;
  background-color: #2f4f30;
  color: white;
}

.header__title {
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 26px;
}

.card__container {
  display: flex;
}

.card {
  position: relative;
  width: 150px;
  left: 100px;
  margin-left: -75px;
  border-radius: 10px;
}

#player-cards,
#computer-cards {
  height: 240px;
}
